/* Containers */
.container{
    max-width: 75%;
    margin: 0 auto;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 6em;
}
.wrap2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.wrap2.index{
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
.wrap3{
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
}