/* BODY */
body{
    color: rgba(0, 0, 0, 0.5);
    
    background: url(/img/bg.jpg) no-repeat top;
        background-position-x: center;
        background-position-y: top;

    background-attachment: fixed;
    background-size: contain;
    background-color: #1e1f23;

    padding-top: 6em;
}
    body:after {
        -moz-pointer-events: none;
        -webkit-pointer-events: none;
        -ms-pointer-events: none;
        pointer-events: none;
        -moz-transition: opacity 1.5s ease-in-out, visibility 1.5s;
        -webkit-transition: opacity 1.5s ease-in-out, visibility 1.5s;
        -ms-transition: opacity 1.5s ease-in-out, visibility 1.5s;
        transition: opacity 1.5s ease-in-out, visibility 1.5s;
        content: '';
        background-image: url(../../images/bg.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        visibility: visible;
        opacity: 1;
    }
/* HEADER */
header p {
    color: #bbb;
}
header{
    color: #a6a6a6;
    cursor: default;
    position: relative;
    text-align: center;
    z-index: 10001;
}
    header > .logo {
        margin: 0 0 4rem 0;
        padding: 0;
    }
        header > .logo a {
            font-size: 4rem;
            font-weight: 700;
            line-height: 1rem;
        }
        header > .logo span {
            font-weight: 300;
            font-size: 1rem;
            display: block;
            color: rgba(255, 255, 255, 0.65);
        }

/* FOOTER */
footer{
    color: rgba(255, 255, 255, 0.65);
    
    padding: 2rem 0 0.1rem 0;
}
/* GENERAL */
body, input, select, textarea {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.65;
}