/* ARTICLE */
article{
    width: 100%;
}
    article .head{
        padding-top: 8em;
        padding-bottom: 4em;
        text-align: center;
    }
    article .head h1{
        font-size: 3em;
        font-weight: lighter;
        margin: 0;
    }
    article .head h3{
        font-size: 1em;
        color: rgba(0, 0, 0, 0.287);
        margin: 0;
    }

    .parag{
        width: 100%;
        margin-bottom: 1em;
    }
    .parag:last-child{
        margin-bottom: 8em;
    }
    .parag.first,.parag.second{
        display: flex;
    }
    .parag.second{
        flex-direction: row-reverse;
    }
    .parag.first img{
        margin-right: 1em;
    }
    